.container{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    }
    .card{
    margin-top:15px;
    border-radius:30px;
    border:2px solid white;
    }
    .insta {
    width:250px;
    margin:15px;
    }
    .linked{width:280px;
    margin:3px;}
    h5{
    font-weight:bold;
    }
    .btn{transition:0.6s;}
    .btn-github {
    border:1px solid black;
    border-radius:7px;
    color:black;
    }
    .btn-github:hover{
    background:black;
    color:white;
    border-color:white;
    }
    .btn-insta {
    border-radius:7px;
     border-color:#007bff;
    }
    .btn-insta:hover {
    background:#007bff;
    border-color:#007bff;
    color:white;
    }
    .btn-linkedin {
    border:1px solid #0077b5;
    color:#0077b5;
    border-radius:7px;
    opacity:0.8;
    }
    .btn-linkedin:hover {
    opacity:1;
    background:#0077b5;
    color:white;
    }
    .btn:hover{
    transform:scale(1.2);
    transition:0.6s;
    }
    .go {
      position:absolute;
      width:200px;
      height:200px;
      margin-left:670px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;
      font-size:20px;
      transition: 0.6s;
    }
